.form-collapse-table:hover {
  box-shadow:none;
  text-shadow:none;
  background: #00457c;
}
.form-line-active, .form-line-error {
	background: transparent !important;
}
#contact a {
	color: #EC2C69;
}

#contact p {
	font-size: 20px;
}

.generalCommittee {
	font-size:14px;
	line-height: 20px;
}

.small {
	margin-top: 10px;
}

#dedication {
	width: 100%;
}

.title {
	font-weight: bold;
}

#dedications {
	border: 2px solid #e3df00;
	border-radius: 10px;
	border-collapse: initial;
	text-align: center;
	margin-left: 125px;
}

#dedications td {
	padding: 10px;
}

td.title {
	color: white;
}

.marquee {
  width: 800px; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  font-weight: normal;
  font-style: italic;
}

td.marqContainer {
	vertical-align: middle;

}

td.button a.donate {
	margin: 0px;
	font-size: 10px;
}

@media (max-width: 600px) {
  #dedications {
    display: none;
  }
}

.video-thumb {
  max-width: 1400px;
}


.shabbatProjectDescription {
  h2 {
    font-size: 62px;
    margin-bottom: 10px;
    margin-top: 30px;
    line-height: inherit;
  }

  p {
    text-align: center;
    font-size: 32px;
  }

  @media (max-width: $phoneMaxWidth){
    h2 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }
}

.events {
  .purpleSplash {
    height: 600px;
    background-color: #41378d;
    background-image: url(/images/Events.jpg);
    zoom: 1;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;


    .mask {
      background-color: rgba(65,55,141,.75);
      height: 300px;
      padding-top: 200px;
      padding-bottom: 150px;
      div.hero {
        width: 800px;
        margin: 0px auto;
        font-size: 32px;
        font-weight: normal;
        line-height: 36px;
        padding-bottom: 40px;
      }

      text-align: center;

      .getStarted {
        color: white;
        font-size: 28px;
      }
    }

    @media (max-width: $phoneMaxWidth){
      height: 400px;

      .mask {
        height: 300px;
        padding-top: 75px;
        padding-bottom: 100px;
        div.hero {
          width: 80%;
          font-size: 22px;
          line-height: 30px;
          padding-bottom: 40px;
        }

        .getStarted {
          font-size: 14px;
        }
      }

    }
  }

  .saveTheDate {
    h1 {
      font-size: 54px;
    }

    p {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.regular-height.hasMask {
  padding: 0px;
}

.video-thumb {
  max-width: 800px;
}