<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
		
		<script type='text/javascript' src='/js/jquery4a80.js?ver=1.11.2'></script>
		<script type='text/javascript' src='/js/jquery-migrate.min1576.js?ver=1.2.1'></script>
		<script type='text/javascript' src='/js/modernizr68b3.js?ver=1'></script>
		<script type='text/javascript' src='/js/init.js'></script>
		<script type='text/javascript' src='/js/jquery.fitvids68b3.js?ver=1'></script>
		<script type='text/javascript' src='/js/underscore.minaff7.js?ver=1.6.0'></script>
		<script type='text/javascript' src='/js/backbone.mincfa9.js?ver=1.1.2'></script>
		<script type='text/javascript' src='/js/jquery.fitvids.js'></script>
	</head>
	<body class="home blog">
		<header class="site-header white">
		    <div class="wrapper">
		        <a href="/"><img class="logo" src="/images/logo.png" alt="The Shabbos Project Chicago" /></a>
		        <div class="mobile-btn"></div>
		        <div class="mobile-nav">
		            <div class="menu-main-menu-container">
		                <ul id="menu-main-menu" class="menu">
		                    <li><a href="/">Home</a></li>
		                    <li><a href="/keep-it">Keep It</a></li>
		                    <li><a href="/events">Events</a></li>
		                    <li><a href="/photos">Photos</a></li>
		                    <li><a href="/contact">Contact</a></li>
		                </ul>
		            </div>              
		            <div class="icon-wrapper">
		                <div class="icons top">
		                    <a target="_blank" href="https://www.facebook.com/The-Shabbos-Project-Chicago-302610709926486/timeline/"><i class="fa fa-facebook"></i></a>
		                </div>
		            </div>
		        </div>
		    </div>
		</header>
		{{ content }}
		<div class="regular-height muddy-purple color-yellow" id="contact">
			<div class="centered">
				<div class="centered-content">
					<div class="wrapper">
						<div class="row">
							<div class="span_4 skip-two col text-center">
								<p>To make a donation to help in the success of this project:</P>
								<p><a href="mailto:info@ShabbosProjectCHI.com">Click here for Chicago</a> or <a href="mailto:events@shabbatprojectchicago.org">Click here for North Shore</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>